# Configuration file

Aluminium {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    S:colour=0xffffff
    D:energy=1.0
    S:extra=Tin
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
}


Ardite {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    S:colour=0xff9b5c
    D:energy=3.0
    S:extra=Gold
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
}


Cobalt {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    S:colour=0x6faafc
    D:energy=3.0
    S:extra=Iron
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
}


Copper {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    S:colour=0xf59b40
    D:energy=1.0
    S:extra=Gold
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
}


Custom {
    # Add ore names that will be turned into Mekanism gases (First letter must be capitalised). Example: Iron,Gold,Titanium
    S:gases=

    # Add prefixes separated by commas.
    # Textures will be aobd:prefix and aobd:prefix_overlay.
    # Example: dust,cluster
    S:items=
}


Endium {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    S:colour=0x2a233e
    D:energy=1.0
    S:extra=Endium
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
}


Gold {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    S:colour=0xffffd9
    D:energy=1.0
    S:extra=Gold
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
}


Iron {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    S:colour=0xffffff
    D:energy=1.0
    S:extra=Nickel
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
}


Lead {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    S:colour=0x656c98
    D:energy=1.0
    S:extra=Silver
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
}


Mithril {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    S:colour=0xedffff
    D:energy=1.0
    S:extra=Mithril
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
}


Nickel {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    S:colour=0xffffdc
    D:energy=1.0
    S:extra=Platinum
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
}


Platinum {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    S:colour=0xbfffff
    D:energy=1.0
    S:extra=Platinum
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
}


Recipes {
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
}


Silver {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    S:colour=0xebffff
    D:energy=1.0
    S:extra=Lead
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
}


Tin {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    S:colour=0xf2ffff
    D:energy=1.0
    S:extra=Iron
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
}


Uranium {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    S:colour=0xffffd3
    D:energy=1.0
    S:extra=Uranium
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
}


Yellorium {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    S:colour=0xffffd3
    D:energy=1.0
    S:extra=Yellorium
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
}


